
@font-face {
            font-family: 'Code-Font';
            src: local('CodeFont') ,
            url('../fonts/PressStart2P-Regular.ttf') format("truetype");
                    }


.body {
            margin: 20px;
            background-color: #000;
            color: #ffff;
            font-family: 'Code-Font'
        }
.tabs {
            display: flex;
            margin-bottom: 10px;
            font-family: 'Code-Font'
        }
.tab {
            padding: 10px 20px;
            background: #000000;
            cursor: pointer;
            border: 1px solid #ffffff;
            margin-right: 5px;
            color: #ffffff;
            font-family: 'Code-Font';
            
        }
.tab.active {
            background: #ffffff;
            border: 1px solid #ffffff;
            color: #000000;
            font-family: 'Code-Font'
        }
canvas {
            border: 1px solid #000;
            margin-bottom: 10px;
            font-family: 'Code-Font'
        }
button {
            padding: 10px 20px;
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: none;
            cursor: pointer;
            font-family: 'Code-Font'
        }
button:hover {
            background: #000000;
            color: #ffff;
            border: 1px solid #ffffff;
            font-family: 'Code-Font'
        }



.h1 { margin: 20px;
            background-color: #000;
            color: #ffff;
            font-family: 'Code-Font'}
