@font-face {
    font-family: 'Code-Font';
    src: local('CodeFont') ,
                url('../fonts/PressStart2P-Regular.ttf') format("truetype");
                }




.body {
     background-color: #000;
     color: #FFF;
    font-family: 'Code-Font'}

.user_team {
    position: fixed;
    bottom: 3%;
    left: 3%;
    width: 40%;
    background-color: transparent;
    font-family: 'Code-Font'
}

.unit_stats {
     background-color: #000;
     color: #FFF;
    position: relative;
    font-family: 'Code-Font'
}


.enemy_team {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 40%;
    background-color: transparent;
    font-family: 'Code-Font'
}


.unit {
    display: inline-block;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: 'Code-Font'
}


.restart_screen {
    position: fixed;
    top: 30%;
    width: 50%;
    height: 40%;
    left: 25%;
    border-radius: 12px;
    background-color: #000;
    color: #FFF;
    font-family: 'Code-Font'
    

}



.tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: left;
          border-radius: 6px;
          padding: 5px 0;
        
          /* Position the tooltip */
          position: absolute;
          bottom: 13px;
          z-index: 1;
        }
        
        .tooltip:hover .tooltiptext {
          visibility: visible;
        }
